<!--Navigation Bar-->
  <nav class="nav-wrap">
    <ul class="nav split">
      <li><a href="/">Home</a></li>
      <li><a href="/products">Shop |</a></li>
      <li><a href="/about/index">About Us |</a></li>
      <li><a href="/contact/index">Contact</a></li>
    </ul>
  </nav>



<div class="about">
<h1>About Us</h1>
<!-- <p>Find me in app/views/about/index.html.erb</p> -->
</div>


<div class="about-us">
Cupcake ipsum dolor sit amet candy canes brownie jelly-o. Icing caramels powder croissant cotton candy apple pie muffin cookie lemon drops. Danish muffin danish jujubes. Candy jelly pie croissant jelly-o tootsie roll dragée. Toffee chocolate cupcake tootsie roll carrot cake biscuit. Danish cake sweet roll toffee macaroon lollipop candy canes ice cream jelly beans. Lollipop cotton candy topping.
Gummies ice cream candy. Croissant gummies bonbon marzipan bear claw cheesecake marshmallow jelly beans icing. Bear claw sweet sesame snaps gingerbread muffin candy canes sesame snaps sweet roll. Cookie muffin donut toffee sweet roll cookie. Topping liquorice pie marshmallow. Marshmallow sweet cookie carrot cake powder. Oat cake muffin jelly-o. Jelly-o liquorice wafer muffin cake jelly-o lemon drops. Cookie cupcake fruitcake muffin chocolate cake chocolate sweet roll.

</div>


<div class="contact">
  <li>
