<!-- <link href='https://fonts.googleapis.com/css?family=Lemon' rel='stylesheet' type='text/css'> -->
<link href='https://fonts.googleapis.com/css?family=Chango' rel='stylesheet' type='text/css'>



<!--Navigation Bar-->
  <nav class="nav-wrap">
    <ul class="nav split">
      <li><a href="/">Home</a></li>
      <li><a href="/products">Shop |</a></li>
      <li><a href="/about/index">About Us |</a></li>
      <li><a href="/contact/index">Contact</a></li>
    </ul>
  </nav>



<div class="about">
<h1>About Us</h1>
<!-- <p>Find me in app/views/about/index.html.erb</p> -->
</div>



<div class="about-img">
  <%= image_tag("trio2.jpg") %>
</div>



<div class="about-us">

Project Zambezi was created by the trio known as the Wynos. Our aim was to create a platform where restaurant owners could highlight their dishes to the public. Many times when people are looking for a restaurant to visit, they read the menu online, but images look more appetizing than text.<br><br>

A restaurant owner using Project Zambezi would input their story or description of their restaurant and menu here.
</div>
