<link href='https://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lemon' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Chango' rel='stylesheet' type='text/css'>





<!--Navigation Bar-->
  <nav class="nav-wrap">
    <ul class="nav split">
      <li><a href="/">Home</a></li>
      <li><a href="/products">Shop |</a></li>
      <li><a href="/about/index">About Us |</a></li>
      <li><a href="/contact/index">Contact</a></li>
    </ul>
  </nav>






<!--Welcome!  -->
<div class="main-container">
  <image_tag("header.jpg") />
<h1>Project Zambezi<h1>
  <!-- <h3>Your online Fruit Stand</h3> -->
</div>


  <div>
    <ul class="product-container">
      <% @products.each do |product| %>
      <li class="products">
        <h3><%= product.name %></h3>
        <div class="product-image"><%= image_tag(product.picture) %></div>
        <div class="product-description">
        <p><%= product.description %> </p>
        <p>$<%= product.formatted_price %></p>
        </div>
      </li>
      <% end %>
    </ul>

</div>
